@model OnlineCarParkingBookingManagament.Entity.ParkingSiteDetails

@{
    ViewBag.Title = "DisplayDetailsToCustomer";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<h2>Near By Parking Slots</h2>
<table>
    <tr>
        <th>Car Id </th>
        <th>Car Parking Site Name </th>
        <th>Car Parking Site Location</th>
        <th>Parking Slots</th>
        <th>Email Id</th>
        <th>Creation Date</th>
        <th>Updation Date</th>
        <th>Option</th>
    </tr>
    @foreach (OnlineCarParkingBookingManagament.Entity.ParkingSiteDetails carParkingSiteDetails in (List<OnlineCarParkingBookingManagament.Entity.ParkingSiteDetails>)TempData["carParkingSiteDetails"])
    {
<tr>
    <td>@carParkingSiteDetails.carParkingSiteId</td>
    <td>@carParkingSiteDetails.carParkingSiteName</td>
    <td>@carParkingSiteDetails.carParkingSiteLocation</td>
    <td>@carParkingSiteDetails.parkingSlots</td>
    <td>@carParkingSiteDetails.emailId</td>
    <td>@carParkingSiteDetails.CreationDate</td>
    <td>@carParkingSiteDetails.UpdationDate</td>
    @*<td>@Html.ActionLink("Click Here To Book the Slot", "EditCarParkingSiteDetails", new { id = carParkingSiteDetails.carParkingSiteId }) </td>*@
    <td>@Html.ActionLink("Book Parking Slot", "AddCarDetails","CarDetails", new { id = carParkingSiteDetails.carParkingSiteId })</td>
</tr>
    }
</table>


