@model OnlineCarParkingBookingManagement.Entity.CarOwnerDetails
@{
    ViewBag.Title = "EditCarOwnerDetails";
}
<h2>EditCarOwnerDetails</h2>
@using (Html.BeginForm("EditCarOwnerDetails", "CarOwnerDetails", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.CarOwnerEmailId)
<table cellpadding="10">
    <tr>
        <td>
            @Html.LabelFor(Model => Model.CarOwnerName)
        </td>
        <td>
            @Html.EditorFor(Model => Model.CarOwnerName)
            @Html.ValidationMessageFor(model => model.CarOwnerName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Gender")
        </td>
        <td>
            @Html.RadioButtonFor(Model => Model.CarOwnerGender, "male")Male
            @Html.RadioButtonFor(Model => Model.CarOwnerGender, "female") Female
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(Model => Model.CarOwnerMobileNo)
        </td>
        <td>
            @Html.EditorFor(Model => Model.CarOwnerMobileNo)
        </td>

    </tr>
    <tr>
        <td>
            @Html.LabelFor(Model => Model.CarOwnerAddress)
        </td>
        <td>
            @Html.EditorFor(Model => Model.CarOwnerAddress)
            @Html.ValidationMessageFor(model => model.CarOwnerAddress)
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" id="submit" />
        </td>
    </tr>
</table>
    @Html.ActionLink("SignIn", "SignIn", "CarOwnerDetails")
}


