@model OnlineCarParkingBookingManagement.Models.CarOwnerLogin_Model

@{
    ViewBag.Title = "SignIn";
}
@if(TempData["Message"]!=null)
{
  @Html.Label((string)TempData["Message"])
}
<h2><i><mark>Sign In</mark></i></h2>
@Html.ValidationSummary(true, "")
@using (Html.BeginForm("SignIn", "CarOwnerDetails", FormMethod.Post))
{
    <table cellpadding="10">
        <tr>
            <td>
                @Html.Label("User Name")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.EmailId, new { MaxLength = 30 })
                @Html.ValidationMessageFor(Model => Model.EmailId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.PasswordFor(Model => Model.Password, new { MaxLength = 10 })
                @Html.ValidationMessageFor(Model => Model.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>
}

