@model IEnumerable<OnlineCarParkingBookingManagament.Entity.CarParkingSiteDetails>

@{
    ViewBag.Title = "DisplayCarParkingSiteDetails";
}

<h2>DisplayCarParkingSiteDetails</h2>
@Html.ActionLink("AddCarParkingDetails", "AddCarParkingDetails", "CarParkingSite")
<table id="CarParkingSiteDetails">
    <tr>
        <th>Car Id </th>
        <th>Car Parking Site Name </th>
        <th>Car Parking Site Location</th>
        <th>Parking Slots</th>
        <th>Email Id</th>
        <th>Creation Date</th>
        <th>Updation Date</th>
        <th>Options</th>
    </tr>
    @foreach (OnlineCarParkingBookingManagament.Entity.CarParkingSiteDetails carParkingSiteDetails in (List<OnlineCarParkingBookingManagament.Entity.CarParkingSiteDetails>)TempData["carParkingSiteDetails"])
    {
<tr>
    <td>@carParkingSiteDetails.carParkingSiteId</td>
    <td>@carParkingSiteDetails.carParkingSiteName</td>
    <td>@carParkingSiteDetails.carParkingSiteLocation</td>
    <td>@carParkingSiteDetails.parkingSlots</td>
    <td>@carParkingSiteDetails.emailId</td>
    <td>@carParkingSiteDetails.CreationDate</td>
    <td>@carParkingSiteDetails.UpdationDate</td>
    <td>@Html.ActionLink("Edit", "EditCarParkingSiteDetails", new { id = carParkingSiteDetails.carParkingSiteId }) | @Html.ActionLink("Delete", "DeleteCarParkingDetails", new { id = carParkingSiteDetails.carParkingSiteId })</td>
</tr>
    }
</table>

