@model OnlineCarParkingBookingManagament.Entity.CarParkingSiteDetails

@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
<h2>Car Parking Site Details</h2>
@Html.ActionLink("Create a new Parking site details", "Create")
<br />
<table border="1">

    @foreach (OnlineCarParkingBookingManagament.Entity.CarParkingSiteDetails item in (List<OnlineCarParkingBookingManagament.Entity.CarParkingSiteDetails>)TempData["carparkingBookings"])
    {
        <tr>
            <td>carId</td>
            <td>carParkingSiteName</td>
            <td>carParkingSiteLocation</td>
            <td>parkingSlots </td>
        </tr>
        <tr>
            <td>
                @item.carId
            </td>
            <td>
                @item.carParkingSiteName
            </td>
            <td>
                @item.carParkingSiteLocation
            </td>
            <td>
                @item.parkingSlots
            </td>
        </tr>
    }
</table>



