 @model OnlineCarParkingBookingManagament.Entity.CarParkingSiteDetails

@{
    ViewBag.Title = "EditCarParkingSiteDetails";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<h2>EditCarParkingSiteDetails</h2>
@using (Html.BeginForm("EditCarParkingSiteDetails", "CarParkingSite", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.carId)
    <table cellpadding="10">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.carParkingSiteName)
            </td>
            <td>
                @Html.EditorFor(Model => Model.carParkingSiteName)
                @Html.ValidationMessageFor(Model => Model.carParkingSiteName, "", new { style = "display:hidden;color:red;" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.carParkingSiteLocation)
            </td>
            <td>
                @Html.EditorFor(Model => Model.carParkingSiteLocation)
                @Html.ValidationMessageFor(Model => Model.carParkingSiteLocation, "", new { style = "display:hidden;color:red" })
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.parkingSlots)
            </td>
            <td>
                @Html.EditorFor(Model => Model.parkingSlots)
                @Html.ValidationMessageFor(Model => Model.parkingSlots, "", new { style = "display:hidden;color:red" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="submit" />
            </td>
        </tr>
    </table>
    @Html.ActionLink("Go back to DisplayCarParkingSiteDetails", "DisplayCarParkingSiteDetails", "CarParkingSite")
}

